@import "tailwindcss";

html,body,#root {
    height: 100%;
    margin: 0;
}



:root {

    /* base */
    --base-white: #fffefb;
    --base-black: #121212;
    --base-green: #1ed760;
    --base-error-color: #d67974;


    /* border */
    --border-base-radius: 15px;
    --border-base-color: #525252;


    /* button */
    --button-border-radius: 2rem;


    /* input */
    --input-text-size: 1.5rem;
    --input-text-color: #a2b3b1;
    --input-border-radius: 6px;
}








/* ------------- input ------------- */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px var(--base-black) inset;
    -webkit-text-fill-color: var(--input-text-color);
    caret-color: var(--input-text-color);
    font-size: var(--input-text-size) !important;
}

input {
    font-size: var(--input-text-size);
    color: var(--input-text-color);
    outline: none;
    width: 100%;
}

input::placeholder {
    /* font-size: var(--input-text-size); */
    color: var(--input-text-color);
}








/* layout */
.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* m-h-scree */
    height: 100%;
    width: 100%;
    padding-block: 10px; /* py */
    padding-inline: 10px; /* px */
    background: BLACK;
}

.layout__data {
    flex: 1;
    width: 100%;
}





/* ------------------------- page ------------------------- */


/* welcome-page */

.welcome-page {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
    height: 100%;
    color: var(--base-white);
}

.welcome-page__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 40%;
    height: 100%;
    /* background: var(--base-black); */
    background-image: url('public/welcome-record-player-img.jpg');
    background-size: cover;
    background-position: center; 
    border-radius: var(--border-base-radius);

    padding-block: 7rem;
}


.welcome-page__title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--base-white);
    margin-bottom: 5px;
}

.welcome-page__text {
    display: flex;
    justify-content: start;
    width: 100%;
    margin-left: 8rem;
} 


.welcome-page__route {
    display: flex;
    justify-content: start;
    width: 100%;
    margin-left: 8rem;
    margin-top: 6rem;
}
.welcome-page__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8.8rem;
    height: 2.8rem;
    background: var(--base-green);
    border-radius: var(--button-border-radius);
    font-size: 19px;
    color: var(--base-black);

    filter: brightness(70%);
    transition: filter 0.5s ease, brightness 0.5s ;
}

.welcome-page__button:hover {
    filter: brightness(100%);
}


.welcome-page__content {
    width: 60%;
    height: 100%;
    background: var(--base-black);
    border-radius: var(--border-base-radius);

    /* padding-inline: 7rem;
    padding-block: 2rem; */
}









/* auth-page */


.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: var(--base-black);
    border-radius: var(--border-base-radius);
}

.auth-page__form {
    display: flex;
    flex-direction: column;
    gap: 17px;
    justify-content: center;
    align-items: center;
    padding-block: 2rem;
}


.auth-page__header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6rem;
}

.auth-page__title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--base-white);
}


.auth-page__field {
    width: 18rem;
}   

.auth-page__input {
    width: 100%;
    border: 2px solid var(--border-base-color);
    border-radius: var(--input-border-radius);
    padding-left: 8px;
}


.auth-page__error {
    width: 100%;                     
    max-width: 100%;                 
    color: var(--base-error-color);
    font-size: 0.875rem;
    white-space: nowrap;             
    overflow: hidden;                
    text-overflow: ellipsis;         
}


.auth-page__submit {
    width: 100%;
    height: 3rem;
}

.auth-page__button {
    width: 100%;
    height: 100%;
    border-radius: var(--button-border-radius);
    background: var(--base-green);
}






/* ------------------------- component ------------------------- */

/* nav */

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    color: var(--base-white);
    padding-inline: 3rem;
    padding-bottom: 5px;
}


.nav__title {
    font-size: 18px;
}

.nav__auth {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 17px;
}

.nav__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 33px;
    border-radius: var(--button-border-radius);
    background: var(--base-green);
    color: var(--base-black);
}
